html,body{
  overflow-x: hidden;
}

.homepage_bg{
  background-image:url("../src/Assets/Images/bghome.svg") ;
}
html, body {
    margin: 0;
    padding: 0;
      box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


